/* PRELOADER */
.preloader{position:fixed;top:0;left:0;right:0;bottom:0;background-color:#000;z-index:99999999}.status{width:32px;height:32px;position:absolute;left:50%;top:50%;background-image:url(../images/preloader.gif);background-repeat:no-repeat;background-position:center;margin:-16px 0 0 -16px}

